{% extends 'index.html' %}

{% block title %} OTS-Registration Status{% endblock %}
{% block top %}
<a href="{% url 'OTS:registrationForm' %}">Signup</a>
<a href="{% url 'OTS:login' %}">Login</a>
{% endblock %}
{% block content %}
{% if userStatus == 1 %}
    <dev class="userStatus">
        Sorry, username already exists , Please try different username.
        <a href="{% url 'OTS:registrationForm' %}">back to Candidate registration Form</a>
    </dev>
{% elif userStatus == 2 %}
    <dev class="userStatus">
        Congratulations!! , user created successefully
        <a href="{% url 'OTS:login' %}">Login</a>
    </dev>
{% elif userStatus == 3 %}
<dev class="userStatus">
    Oops!!, Improper Request 
    <a href="{% url 'OTS:registrationForm' %}">back to Candidate registration Form</a>
</dev>
{% endif %}
{% endblock %} 
